html, body {
  /* background-color: powderblue; */
  margin: 0;
  padding: 0;
  border: 0;
}

.outer-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.center-block {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  margin-bottom: 20px;
  margin-left: 5px;
}

.flex-container {
  width: auto;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
}

.circle {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  backdrop-filter:blur(20px);
  -o-backdrop-filter:blur(20px);
  -ms-backdrop-filter:blur(20px);
  -moz-backdrop-filter:blur(20px);
  -webkit-backdrop-filter:blur(20px);
  background:rgba(255, 255, 255, 0.07);
}

.circle:hover {
  background:rgba(255, 255, 255, 0.2);
}

canvas {
  position: relative;
  z-index: -3 !important;
  margin: 0;
}
